{% extends "base.html" %}

{% block body %}


<div style="text-align:center">
    <a href="/register" class="btn btn-lg btn-secondary" style="font-weight: 700">Register</a>
    <h4 style="margin: 23px 0px 14px 0px;color:gainsboro">or</h4>

</div>

<h1 style="margin-bottom:20px;">Login to Your Account</h1>

<div class="col-8" style="margin:0 auto;">
    <form id="register-form" method="POST" action="/login">
      <div class="form-group">
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>

      <button type="submit" style="font-weight: 700; float:right; margin-top:10px;" class="btn btn-secondary">Login</button>
    </form>
</div>


{% endblock %}

