{% extends "base.html" %}

{% block body %}
<form id="search-bar" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-secondary" type="submit">Search</button>
</form>



<!--<h1 class="cover-heading">Search for a title</h1>-->
    <p class="lead" style="margin-top: 20px; margin-bottom:0px;">busboy helps you find titles and organize them on your <a href="https://put.io">put.io</a> account.</p>
    <p class="lead">To start, search for a title.</p>
<!--<p class="lead">-->
  <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
<!--</p>-->

{% endblock %}
